*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Literata', serif;
}
.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1{
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
}
header p {
    font-size: 20px;
}

.pads {
   background: lightblue;
   width : 100%;
   display: flex;
}
.pads > div {
    height: 100px;
    width : 100px;
    flex: 1;
}

 .pad1{
     background: #606060;
}
.pad2{
    background: #d3d3d3;
}
.pad3{
    background:rebeccapurple;
}
.pad4{
    background: red;
}
.pad5{
    background:palevioletred;
}
.pad6{
    background:navajowhite;
}

.visual > div{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0%;
    z-index: -1;
    transform: scale(1);
}

@keyframes jump {
    0%{
        bottom: 0%;
        left: 20%;;
    }
    50%{
        bottom: 50%;
        left: 50%;
    }
    100%{
       bottom: 0%;
       left: 80%;
    }
}

