body {
    font-family: 'Barriecito', cursive;
}

#quiz {
    margin-left: 10px;
    background: silver;
    padding: 10px 20px 10px 20px;
    width: 400px;
    border-radius:  20px;
    float: left;
}
input {
    margin-bottom: 20px;
}

#textbox {
    height: 25px;
    font-size: 16px;
    border-radius:  5px;
    border:  none;
    padding-left: 5px;
}

#button {
    background: green;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 16px;
    transition-duration: .5s;
    margin-top: 15px;
}

#button:hover{
    background: white;
    border: 1px solid green;
    color:black;
    cursor: pointer;
}

#after_submit{
    visibility: hidden;
    background: #ff5459;
    padding: 10px 20px 10px 20px;
    width: 400px;
    border-radius: 20px;
    float: left;
    margin-left: 30px;
}

#picture {
    width: 375px;
    height: 245px;
}

#mc {
    display: inline;
}